# ide
.ipynb_checkpoints/
.vscode/

# pycache
__pycache__/

# log files
*.log

# data
data/*
*.db
*.csv

# temp files
*.html

# os
.DS_Store

# documentation
docs/_build/

# mypy
.mypy_cache/

# packaging
barbucket.egg-info/
build/
dist/