[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
pandas = "*"
numpy = "*"
ib-insync = "*"
tqdm = "*"
requests = "*"
trading-calendars = "*"
fire = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.8"
