alabaster==0.7.12
astroid==2.4.2
attrs==20.3.0
Babel==2.9.0
beautifulsoup4==4.9.3
blessed==1.17.12
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
docutils==0.16
enlighten==1.7.0
eventkit==0.8.6
ib-insync==0.9.64
idna==2.10
imagesize==1.2.0
iniconfig==1.1.1
isort==5.6.4
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
nest-asyncio==1.4.3
numpy==1.19.4
packaging==20.7
pandas==1.1.4
pluggy==0.13.1
py==1.9.0
Pygments==2.7.2
pylint==2.6.0
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.0
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.3.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.2
toolz==0.11.1
trading-calendars==2.0.0
urllib3==1.26.2
wcwidth==0.2.5
wrapt==1.12.1
